<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>-->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!--<modules>
    <module 
      assemblyFile="C:\Users\RJ100218\OneDrive - Aristocrat Gaming\Attachments\Rahul Backup\General\CompositeWork\Modules\StepCheckerPaint.dll" 
      moduleType="StepCheckerPaint.StepCheckerPointModule,StepCheckerPaint, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      moduleName="ModuleA" 
      startupLoaded="true" />

  </modules>-->
</configuration>